<% layout('../layout') %>


<div class="container pt-2">

    <div class="row d-flex  flex-row  justify-content-center mt-4">
        <% if(products.length >0)for(let i = 0; i< products.length; i++){%>
           <div class=" product-item p-0 mx-2 mb-4  ">
               <a href="<%= '/product/'+products[i]._id%>">
                   <div class="img">
                       <img  class="w-100 " src="<%= products[i].image[0]%>">

                   </div>

                   <div class="item-footer d-flex flex-column justify-content-center p-1">
                           <p class=" name m-0"><%= products[i].name%></p>
                           <p class=" description m-0"><%= products[i].shortDescription%></p>
                           <div class="d-flex justify-content-between flex-row pt-1">
                               <% if(products[i].discount > 0){%>
                                   <p class="price m-0 "><%= (parseFloat(products[i].price)-(parseFloat(products[i].price)*products[i].discount /100)).toFixed(2) %> $</p>
                                   <p class="oldprice m-0"><%= products[i].price%>$</p>
                               <%}else{ %>
                                       <p class="price m-0 "><%= products[i].price%>$</p>
                               <%}%>
                           </div>
                       </div>


               </a>
           </div>
        <%}%>

    </div>
    <%- partial('../component/pagination') %>


</div>