<% layout('../layout') %>

<div class="container pt-2">

    <div class="row d-flex  flex-row  justify-content-center mt-4">
<%if(results && results.length>0){%>
   <%for(let i=0;i<results.length;i++){%>

       <div class=" product-item p-0 mx-2 mb-4">
           <a href="<%= '/product/'+results[i]._id%>">
               <div class="img">
                   <img  class="w-100 " src="<%= results[i]._source.image[0]%>">
               </div>
                   <div class="item-footer d-flex flex-column justify-content-center p-1">
                       <p class=" name m-0"><%= results[i]._source.name%></p>
                       <p class=" description m-0"><%= results[i]._source.shortDescription%></p>
                       <div class="d-flex justify-content-between flex-row pt-1">
                           <% if(results[i]._source.discount > 0){%>
                               <p class="price m-0 "><%= (parseFloat(results[i]._source.price)-(parseFloat(results[i]._source.price) * results[i]._source.discount / 100)).toFixed(2) %> $</p>
                               <p class="oldprice m-0"><%= results[i]._source.price%>$</p>
                           <%}else{ %>
                               <p class="price m-0 "><%=results[i]._source.price %> $</p>
                           <%}%>

                       </div>
                   </div>


           </a>
       </div>
    <%}%>


<%}else {%>
   <h6 class="text-center"> no result founded for <%= q%></h6>

<%}%>
    </div>
</div>